@tailwind base;
@tailwind components;
@tailwind utilities;


.icon-size{
  height: 24px !important;
}

.mantine-NavLink-label{
  font-size: 16px !important;
  }

.mantine-NavLink-section svg{
height: 22px !important;
width: 22px !important;
margin-left: 12px !important;
}

#redwood-app{
  overflow-x: hidden !important;
}

.add-to-cart{
  background-color: Black ;
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  visibility: hidden;
transition: opacity 0.3s ease-in, visibility 0.3s ease;
}

.product-card:hover .add-to-cart{
  visibility:visible;
cursor: pointer;
}

.add-to-cart-text{
color: white ;
text-align: center;
padding-top: 6px ;
}

.image-slider::-webkit-scrollbar {
  display: none;
}

.primary-button{
  background-color: #db4444;
  width: 234px ;
  height: 56px ;
  border-radius: 4px ;
  color: white;
}

.mantine-Input-input{
  width: 243px ;
  background-color: #f5f5f5;
  border: none;
}

.modal-button{
  border: none;
}

.reusable-input input{
  background-color: transparent  ;
  border-bottom: 1px solid #D3D3D3 ;
  border-radius: 0px ;
  width: 500px;
}

.dropdown-style{
  position: relative;
  z-index: 10000;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 8px;
  position: absolute;
  padding: 5px;
  width:150px;
  background-color: #000000;
  color: white;
}


.delete-icon{
  bottom: 20px;
  display: none;
  height: 8px;
  width: 8px;
}

.product-wrapper:hover .delete-icon{
  bottom: 20px;
  height: 15px;
  width: 15px;
  display: block;
  cursor: pointer;
}

.secondary-button{
  background-color: white ;
  color: black;
  border: 2px solid black;
  border-radius: 4px ;
}

